<!-- equipment.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>C-Fitness Equipment</title>
</head>
<body class="bg-gray-900">

<footer class="text-gray-400 bg-gray-900 body-font">
		<div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
		  <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
			<img src="https://static.vecteezy.com/system/resources/previews/017/494/085/original/letter-c-fitness-gym-logo-design-fitness-club-exercising-logo-free-vector.jpg" stroke="currentColor"  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-0.1 rounded-full" viewBox="0 0 24 24">
			  <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
			</svg>
			<span class="ml-3 text-xl">The C-Fitness Club</span>
		  </a>
		  <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© The C-Fitness Club —
			<a href="https://twitter.com/Chins71562758" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">Chinmay Pendke</a>
			
		  </p>
		  <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
			<a class="text-gray-400">
			  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
				<path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
			  </svg>
			</a>
			<a class="ml-3 text-gray-400">
			  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
				<path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
			  </svg>
			</a>
			<a class="ml-3 text-gray-400">
			  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
				<rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
				<path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
			  </svg>
			</a>
			<a class="ml-3 text-gray-400">
			  <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
				<path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
				<circle cx="4" cy="4" r="2" stroke="none"></circle>
			  </svg>
			</a>
		  </span>
		</div>
	  </footer>

  <section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">

      <div class="text-center mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-white mb-4">Build Your Arsenal With Us</h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Explore Our Latest Range Of World Class Innovative Equipment</p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 justify-items-start">
        <!-- Chest And Arm Training Machines -->
        <div>
          <h2 class="font-semibold text-white mb-5 text-lg">Chest And Arm Training Machines</h2>
          <ul class="space-y-4">
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Chest Press Machine
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Seated Dip Machine
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Arm Extention Machine
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Arm Curl Machine
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Incline Bench Press
            </li>
          </ul>
        </div>
        <!-- Shoulder And Triceps Training Machines -->
        <div>
          <h2 class="font-semibold text-white mb-5 text-lg">Shoulder And Triceps Training Machines</h2>
          <ul class="space-y-4">
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Shoulder Press Machine
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Overhead Press Machine
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Lateral Raises Machine
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Triceps Press Machine
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Triceps Extention Machine
            </li>
          </ul>
        </div>
        <!-- Back Training Machines -->
        <div>
          <h2 class="font-semibold text-white mb-5 text-lg">Back Training Machines</h2>
          <ul class="space-y-4">
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Back Extention Machine (Hypertenton Bench/Roman Chair)
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Cable Row Machine
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Lat Pull Down Machine
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              GHD Machine (Glute Ham Developer)
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Kettlebells
            </li>
          </ul>
        </div>
        <!-- Free Weights -->
        <div>
          <h2 class="font-semibold text-white mb-5 text-lg">Free Weights</h2>
          <ul class="space-y-4">
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Dumbbells - Fixed And Adjustable
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Barbells And Olympic Barbells
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Medicine Ball
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Stability Ball
            </li>
            <li class="flex items-center text-gray-300">
              <span class="bg-gray-800 text-indigo-400 w-5 h-5 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Wallball
            </li>
          </ul>
        </div>
      </div>

      <a href="{% url 'price' %}">
        <button class="flex mx-auto mt-12 text-white bg-indigo-500 border-0 py-3 px-10 focus:outline-none hover:bg-indigo-600 rounded text-lg">
          Go to Price
        </button>
      </a>
    </div>

      <div class="bg-gray-800 bg-opacity-75">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-400 text-sm text-center sm:text-left">© The C-Fitness Club —
        <a href="https://twitter.com/Chins71562758" class="text-gray-500 ml-1" rel="noopener noreferrer" target="_blank">Chinmay Pendkes</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-400">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-400">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
  </section>

</body>
</html>
